#joke-container {
    margin: 0px 50px;
    padding: 25px 0px;
}

.the-joke {
    text-align: center;
    width: 70%;
    margin: 24px auto;
    font-size: 30px;
    font-weight: bold;
    padding: 25px 30px;
    background: #4a92bd;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.the-joke:hover {
    box-shadow: 1px 1px 4px 2px #888;
}

.star-container {
    padding: 8px 0px;
}

.star-container i {
    color: #fac62a;   
}

.star-container.avg-rating {
    font-size: 20px;
}

.star-container.avg-rating span {
    margin-left: 8px;
    font-weight: bold;
}

#reviews h2, #reviews h3 {
    margin: 0.4em 0;
}

#reviews #reviews-flex {
    display: flex;
    flex-direction: row;
}

#reviews #reviews-flex .write-review {
    width: 350px;
    border-right: 1px solid #888;
    padding: 10px;
}

#reviews #reviews-flex .write-review .rateStar {
    cursor: pointer; 
}

#reviews #reviews-flex .write-review textarea {
    width: 100%;
    height: 150px;
    padding: 5px;
    font-family: inherit;
    font-size: 14px;
    resize: none;
}

#reviews #reviews-flex .write-review .textarea-counter {
    font-size: 12px;
    text-align: right;
    padding: 4px 0px;
}

#reviews #reviews-flex .write-review input {
    width: 100%;
    padding: 5px;
    margin: 5px 0px;
    font-family: inherit;
    font-size: 14px;
}

#reviews #reviews-flex .write-review button {
    width: 100%;
    padding: 6px 12px;
    text-align: center;
    background: #000;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-family: inherit;
    outline: none;
}

#reviews #reviews-flex .read-reviews {
    padding: 10px;
    flex-grow: 1;
}

#reviews #reviews-flex .read-reviews .review-count {
    text-align: center;
    font-size: 18px;
    margin: 0.4em 0;
}
